/* Hatten Style */



header,nav,article,section,aside,footer { display: block; }


html {
	background: #fff url(../images/bg.jpg) top center no-repeat;
}

body {
	background: none;
	padding-top: 50px;
	color: #333;
}

a {}
h2 a:hover { text-decoration: none; }


.container {
	position: relative;
}

#search {
	position: absolute;
	top: 5px;
	right: 0;
}

#search .search_field {
	padding-right: 30px;
}

#search .loope {
	position: absolute;
	top: 7px;
	right: 7px;
}



/* =================================
	Header
================================= */
header {
	margin-bottom: 60px;
}




/* =================================
	Contents
================================= */
.contents { margin-bottom: 50px; }

.entry {
	margin-bottom: 80px;
}

.entry h2 {
	font-weight: normal;
	font-size: 22px;
	line-height: 1.3;
	position: relative;
	top: -2px;
	margin-bottom: 10px;
}

.entry h2 a {
	color: #000;
}

.entry h3 {
	border-bottom: 1px dotted #999;
	line-height: 1.5;
	margin: 2em 0 .8em;
	color: #111;
}

.entry h4 {
	color: #111;
	margin: 2em 0 .8em;
}

.entry h5 {
	color: #111;
	margin: 2em 0 .8em;
	padding-left: 10px;
	border-left: 4px solid #333;
	line-height: 1.5;
}

.entry h6 {
	color: #111;
	margin: 2em 0 .5em;
	font-size: 90%;
	color: #666;
}


.entry {
	position: relative;
}

.entry .entry-date {
	position: absolute;
	top: 0;
	left: -100px;
	background: #000;
	color: #fff;
	padding: 10px;
	line-height: 1;
	font-size: 12px;
}

.entry .entry-header {
	margin-bottom: 30px;
}

.entry .entry-body,
.entry .entry-body p {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
}

.entry .entry-body li {
	margin-bottom: .5em;
	line-height: 1.4;
	color: #555;
}


/* entry-info */
.entry .entry_info {
	border-top: 1px solid #e6e6e6;
	margin-top: 40px;
	background: #f6f6f6;
	padding: 10px;
	text-shadow: 0 1px 0 #fafafa;
}

.entry .entry_info ul {
	margin: 0 0 0 20px;
	display: inline;
}

.entry .entry_info ul:before {
	content: "tags: ";
}


.entry .entry_info li {
	list-style: none;
	display: inline;
	margin-right: 5px;
}

.entry .entry_info li:after {
	content: ",";
}

.entry .entry_info .date-time {
	display: inline;
	color: #999;
	margin-left: 10px;
}





/* Pager */
.pager {
	margin: 30px auto 50px !important;
	padding: 0 !important;
	text-align: center;
}

.pager li {
	display: inline;
	list-style: none;
}

.pager li a {
	color: #666;
	text-shadow: 0 1px 0 #fafafa;
	margin: 0 1px;
	padding: 6px 9px;
	line-height: 1;
	width: 20px;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
}

.pager li a:hover,
.pager li.active a {
	text-decoration: none;
	background: #fff;
	color: #222;
}


/* -------------------------------
	Sidebar
------------------------------- */
.sub-column {}

.sub-column section {
	margin-bottom: 50px;
}

.sub-column h3 {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	color: #888;
	margin-bottom: .5em;
}

.sub-column ul {
	margin: 0;
	padding: 0;
}


.sub-column li {
	list-style: none;
	background: url(../images/bullet_graybar.png) 0 .6em no-repeat;
	padding-left: 10px;
	line-height: 1.3;
	margin-bottom: 8px;
}


.sub-column li a {
	color: #333;
	text-decoration: none;
	display: block;
}

.sub-column li a:hover {
	color: #888;
}

.sub-column .tags li,
.sub-column .tags li a {
	display: inline;
	background: none;
	padding: 0;
}

.sub-column .tags li a {
	padding: 5px;
}






/* -------------------------------
	Footer
------------------------------- */
footer {
	margin: 30px 0 0;
	padding: 30px;
	text-align: center;
	background: #ddd url(../images/bg_gray.jpg);
	text-shadow: 0 1px 0 #e6e6e6;
	-moz-box-shadow: inset 0 2px 5px rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,.05);
	box-shadow: inset 0 2px 5px rgba(0,0,0,.05);
}